

certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
python-dotenv==1.1.0
requests>=2.32.4
urllib3>=2.5.0
werkzeug
flask
pyyaml==6.0.3
apprise==1.9.4

black
isort
flake8
types-requests
types-PyYAML
types-Markdown
python-json-logger
APScheduler
pytest
pytest-cov
