<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}researcharr{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/colors.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  {% include 'header.html' %}
  {% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
  <main class="main-content" {% block main_style %}style="margin-left:220px; margin-top:64px;"{% endblock %}>
    {% block content %}{% endblock %}
  </main>
  {% include 'footer.html' %}
</body>
</html>
