{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
{% if disabled %}
<p>Password reset is not available. Contact your administrator.</p>
{% else %}
<form method="post">
  <label>Username: <input name="username" value="{{ user.username if user }}"></label>
  <label>Reset token: <input name="token"></label>
  <label>New password: <input name="password" type="password"></label>
  <label>Confirm: <input name="confirm" type="password"></label>
  {% if error %}<div>{{ error }}</div>{% endif %}
  <input type="submit" value="Reset Password">
</form>
{% endif %}
{% endblock %}
