{% extends 'base.html' %}
{% block title %}User Settings{% endblock %}
{% block content %}
<form method="post" action="/user">
  <fieldset><legend>User Settings</legend>
    Username: <input name="username" value="{{ user.username }}"><br>
    Password: <input name="password" type="password" placeholder="Leave blank to keep current"><br>
    <input type="submit" value="Save User Settings">
    {% if user_msg %}<div class="user-msg">{{ user_msg }}</div>{% endif %}
  </fieldset>
</form>
{% endblock %}
