<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    {% include navbar.html %}

    <main class="container">
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="container">
        <small>&copy; {{ site.time | date: "%Y" }} {{ site.title | default: "researcharr" }}</small>
      </div>
    </footer>
  </body>
</html>
