name: Check YAML

on:
  pull_request:
    paths:
      - '**/*.yml'
      - '**/*.yaml'
      - '.yamllint'

jobs:
  yamllint:
    name: yamllint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install yamllint
        run: |
          python -m pip install --upgrade pip
          pip install yamllint
      - name: Run yamllint
        run: |
          yamllint -c .yamllint .
