on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]

jobs:
  draft_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Release Drafter
        uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6
        with:
          config-name: release-drafter.yml
          tag-template: 'v$NEXT_PATCH_VERSION'
