on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]

jobs:
  draft_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Release Drafter
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
          tag-template: 'v$NEXT_PATCH_VERSION'